{%load static%}

<style> 
  .hello-note{
    font-size: 18px;
    color: wheat;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="{% static 'images/mylogo.png' %}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if request.user.is_staff%}
        <a  class="nav-item nav-link active" href="{% url 'index'%}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link " href="{% url 'products'%}">Product</a>
        
        {%else%}
        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
        {%endif%}
        <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
      </div>
    </div>

    <span class="hello-note">Welcome, {{request.user}} </span>
    <span><a class="hello-note" href="{% url 'logout'%}">logout</a></span>
  </nav> 