{%extends 'main.html'%}
{%block content%}
{%include 'status.html'%}
<<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>note</th>
					<th>Date Orderd</th>
					<th>Status</th>
					
				{%for orders in orders%}
					<tr>
						<td>{{orders.product}}</td>
						<td>{{orders.note}}</td>
						<td>{{orders.date_created}}</td>
						<td>{{orders.status}}</td>
						
					</tr>
				{%endfor%}
				
			</table>
		</div>
	</div>
</div>

{%endblock%}